Repository manti-by/manti.by: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, prospector, bandit

isort:
  name: isort-local
  entry: isort
  language: python
  pass_filenames: true

black:
  name: black-local
  entry: black
  language: python
  language_version: python3.10
  pass_filenames: true

prospector:
  name: prospector-local
  entry: prospector --messages-only
  language: python
  pass_filenames: true

bandit:
  name: bandit
  description: Bandit is a tool for finding common security issues in Python code
  entry: bandit
  language: python
  language_version: python3

Fix github actions
  .github/workflows/backend.yml
Due: none

Update readme
  README.md
Due: none

Fix config and about page
  Makefile
  manti_by/settings/base.py
  manti_by/settings/local.py.example
  manti_by/settings/prod.py.example
  manti_by/static/css/pages/about.css
  manti_by/templates/static/about.html
  manti_by/templates/static/about/be/education.html
  manti_by/templates/static/about/be/employment.html
  manti_by/templates/static/about/be/hard-skills.html
  manti_by/templates/static/about/be/header.html
  manti_by/templates/static/about/be/soft-skills.html
  manti_by/templates/static/about/en/education.html
  manti_by/templates/static/about/en/employment.html
  manti_by/templates/static/about/en/hard-skills.html
  manti_by/templates/static/about/en/header.html
  manti_by/templates/static/about/en/soft-skills.html
  manti_by/templates/static/about/ru/education.html
  manti_by/templates/static/about/ru/employment.html
  manti_by/templates/static/about/ru/hard-skills.html
  manti_by/templates/static/about/ru/header.html
  manti_by/templates/static/about/ru/soft-skills.html
Due: bandit

Fix Nginx config
  config/nginx.conf
Due: none

Update nginx and docker configs
  Dockerfile
  config/nginx.conf
  package.json
Due: none

Update server config
  Dockerfile
  config/nginx.conf
  docker-compose.yml
  nginx.conf
Due: none

Update project setup
  .flake8
  .gitignore
  .pre-commit-config.yaml
  .prospector.yaml
  manti_by/settings/base.py
  manti_by/settings/local.py.example
  manti_by/settings/test.py
  manti_by/templates/static/400.html
  manti_by/templates/static/500.html
  pyproject.toml
  requirements.txt
Due: bandit

Fix settings, update nginx config
  config/nginx.conf
  manti_by/settings/base.py
Due: bandit

Fix test config
  manti_by/settings/test.py
Due: bandit

Remove unused and dead code
  manti_by/apps/api/urls.py
  manti_by/apps/api/views.py
  manti_by/apps/blog/models.py
  manti_by/apps/core/utils.py
  manti_by/apps/gallery/admin.py
  manti_by/apps/gallery/apps.py
  manti_by/apps/gallery/migrations/0001_initial.py
  manti_by/apps/gallery/migrations/0018_alter_image_original_image.py
  manti_by/apps/gallery/models.py
  manti_by/static/css/admin/base.css
  manti_by/static/css/admin/orderable.css
  manti_by/static/js/admin/orderable.js
  manti_by/static/js/common.js
  manti_by/static/js/widgets/ajax.js
  manti_by/static/js/widgets/menu.js
  manti_by/templates/base.html
Due: isort, black, prospector, bandit

Fix templates
  manti_by/apps/api/views.py
  manti_by/apps/core/templatetags/common_tags.py
  manti_by/static/css/base.css
  manti_by/static/css/blog/featured.css
  manti_by/static/css/components/menu.css
  manti_by/static/css/dark.css
  manti_by/static/css/font.css
  manti_by/static/css/pages/index.css
  manti_by/static/css/responsive/480.css
  manti_by/static/css/responsive/767.css
  manti_by/static/js/player.js
  manti_by/static/js/widgets/header.js
  manti_by/static/js/widgets/lazy.js
  manti_by/static/js/widgets/menu.js
  manti_by/templates/base.html
  manti_by/templates/blog/featured.html
  manti_by/templates/blog/list-item.html
  manti_by/templates/blog/post.html
  manti_by/templates/gallery/gallery.html
  manti_by/templates/index.html
  manti_by/templates/static/about/be/header.html
  manti_by/templates/static/about/en/header.html
  manti_by/templates/static/about/ru/header.html
Due: isort, black, prospector, bandit

Fix and update gallery scripts
  manti_by/static/js/gallery.js
  manti_by/templates/gallery/gallery.html
Due: none

Update server config
  .gitignore
  Dockerfile
  Makefile
  config/nginx-static.conf
  config/nginx.conf
  docker-compose.yml
Due: none

Refactor static files
  .gitignore
  manti_by/static/css/animate.css
  manti_by/static/css/base.css
  manti_by/static/css/blog/featured.css
  manti_by/static/css/blog/list-item.css
  manti_by/static/css/components/menu.css
  manti_by/static/css/components/player.css
  manti_by/static/css/components/search.css
  manti_by/static/css/components/slider.css
  manti_by/static/css/dark.css
  manti_by/static/css/font.css
  manti_by/static/css/index.css
  manti_by/static/css/reset.css
  manti_by/static/css/responsive.css
  manti_by/static/css/responsive/1024.css
  manti_by/static/css/responsive/1600.css
  manti_by/static/css/responsive/480.css
  manti_by/static/css/responsive/767.css
  manti_by/static/js/ajax.js
  manti_by/static/js/common.js
  manti_by/static/js/index.js
  manti_by/static/js/slider.js
  manti_by/static/js/tracklist.js
  manti_by/static/js/widgets/header.js
  manti_by/static/js/widgets/lazy.js
  manti_by/static/js/widgets/loader.js
  manti_by/static/js/widgets/menu.js
  manti_by/static/js/widgets/search.js
  manti_by/static/manifest.json
  manti_by/templates/base.html
  manti_by/templates/blog/featured.html
  manti_by/templates/blog/list.html
  manti_by/templates/blog/post.html
  manti_by/templates/index.html
Due: none

Update python packages
  Dockerfile
  Makefile
  requirements.txt
Due: none

Upgrade project
  .flake8
  .github/workflows/backend.yml
  .isort.cfg
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  pytest.ini
  requirements.txt
Due: none

Update application
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docker-compose.yml
  requirements.txt
Due: none

Update application
  .isort.cfg
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  Dockerfile
  Makefile
  manti_by/apps/api/tests/test_views.py
  manti_by/apps/blog/tests/test_models.py
  manti_by/apps/core/tests/test_admin.py
  manti_by/apps/core/tests/test_utils.py
  manti_by/apps/core/tests/test_views.py
  manti_by/apps/gallery/tests/test_models.py
  manti_by/settings/base.py
  manti_by/templates/static/about/be/hard-skills.html
  manti_by/templates/static/about/en/hard-skills.html
  manti_by/templates/static/about/en/soft-skills.html
  manti_by/templates/static/about/ru/hard-skills.html
  pyproject.toml
  pytest.ini
  requirements.txt
Due: isort, black, prospector, bandit

Update application
  .pre-commit-config.yaml
  requirements.txt
Due: none

Fix Django admin bugs
  manti_by/apps/blog/admin.py
  manti_by/apps/core/utils.py
Due: isort, black, prospector, bandit

Update messages
  manti_by/apps/core/locale/be/LC_MESSAGES/django.mo
  manti_by/apps/core/locale/be/LC_MESSAGES/django.po
  manti_by/apps/core/locale/en/LC_MESSAGES/django.mo
  manti_by/apps/core/locale/en/LC_MESSAGES/django.po
  manti_by/apps/core/locale/ru/LC_MESSAGES/django.mo
  manti_by/apps/core/locale/ru/LC_MESSAGES/django.po
Due: none

Refactor tests
  manti_by/apps/gallery/tests/__init__.py
  manti_by/apps/gallery/tests/test_models.py
  manti_by/tests/__init__.py
  manti_by/tests/api/__init__.py
  manti_by/tests/api/test_views.py
  manti_by/tests/apps/__init__.py
  manti_by/tests/apps/test_admin.py
  manti_by/tests/apps/test_models.py
  manti_by/tests/apps/test_utils.py
  manti_by/tests/apps/test_views.py
  pyproject.toml
Due: isort, black, prospector

Remove unused and dead code
  manti_by/apps/api/urls.py
  manti_by/apps/api/views.py
  manti_by/apps/blog/models.py
  manti_by/apps/gallery/admin.py
  manti_by/apps/gallery/apps.py
  manti_by/apps/gallery/migrations/0018_alter_image_original_image.py
  manti_by/apps/gallery/models.py
  manti_by/static/css/admin/base.css
  manti_by/static/css/admin/orderable.css
  manti_by/static/js/admin/orderable.js
  manti_by/static/js/common.js
  manti_by/static/js/widgets/ajax.js
  manti_by/static/js/widgets/menu.js
  manti_by/templates/base.html
Due: isort, black, prospector, bandit

Update packages
  .pre-commit-config.yaml
  requirements.txt
Due: none

Fix fronpage, update packages
  .pre-commit-config.yaml
  manti_by/apps/core/views.py
  requirements.txt
Due: isort, black, prospector, bandit

Drop OGG support
  manti_by/apps/blog/models.py
  manti_by/static/js/libs/player.js
Due: isort, black, prospector, bandit

Path conditions:
  isort: any of: \.py$, but not: .+/settings/.+
  black: any of: \.py$, but not: .+/settings/.+
  prospector: any of: \.py$, but not: .+/settings/.+
  bandit: any of: \.py$, but not: .+/tests/.+
